$inf-gray-lighter: #D9D9D9;
$inf-gray-lighter-rgb: 217, 217, 217;
$inf-gray-light: #707070;
$inf-gray-light-rgb: 112, 112, 112;
$inf-gray-medium: #1F2227;
$inf-gray-medium-rgb: 31, 34, 39;
$inf-gray-dark: #0a1019;
$inf-gray-dark-rgb: 13, 19, 34;
$inf-red: #B03C35;
$inf-red-rgb: 176, 60, 53;