@use "src/theme/variables.scss";

.warehouse-container {
  background-color: #{variables.$inf-gray-dark};
}

.component-switch {
  background-color: black;
  color: black;
  height: 10rem;
  margin: 1rem 0 1rem 0;
}

.component-toggle-button {
  background-color: orange;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
