<div class="notification-modal">
  <div class="row">
    <div class="col">
      <h2 [innerText]="title | translate | uppercase"></h2>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col">
      <h6 [innerText]="content | translate"></h6>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ion-button (click)="closeModal()"
                  fill="solid"
                  expand="block"
                  size="default"
                  strong="true">
        {{ buttonText | translate | uppercase }}
      </ion-button>
    </div>
  </div>
</div>
