@use "~swiper/css";

app-ship-card {
  width: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 4rem;
}

::ng-deep {
  .swiper {

    & .swiper-wrapper {
      height: auto;
      user-select: none;
    }

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      transform: scale(0.9);
      transition: all 0.2s;
      z-index: 2;

      & .container {
        padding-left: 0;
        padding-right: 0;
      }

      &:not(.swiper-slide-active) {
        transform: scale(0.70);
        transition: all 0.2s;
        z-index: 1;
      }

      aspect-ratio: 1;
    }

    .swiper-pagination {
      font-size: 1rem;
      font-weight: bold;
    }

    .swiper-button-next,
    .swiper-button-prev {
      z-index: 11;
      color: white;
      bottom: 0;
      top: auto;
      padding-bottom: 0.6rem;
      height: fit-content;

      &:after {
        font-size: 1rem;
      }
    }

    .swiper-button-next {
      right: 1.5rem;
    }

    .swiper-button-prev {
      left: 1.5rem;
    }

    @media (min-width: 496px) and (max-width: 959.98px) {
      & .swiper-button-next {
        right: 30%;
      }

      & .swiper-button-prev {
        left: 30%;
      }
    }

    @media (min-width: 960px) and (max-width: 1279.98px) {
      & .swiper-button-next {
        right: 35%;
      }

      & .swiper-button-prev {
        left: 35%;
      }
    }

    @media (min-width: 1280px) {
      & .swiper-button-next {
        right: 40%;
      }

      & .swiper-button-prev {
        left: 40%;
      }
    }
  }
}

.container {
  position: relative;
  width: 100%;
}

.margin-neg-top {
  margin-top: -10px;
}

.icon-group {
  position: absolute;
  display: inline-block;
  margin: 0 auto;
  width: 90%;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.withdrawal-text {
  font-size: 1rem;
  font-weight: bold;
  word-break: keep-all;
  margin-top: 1rem !important;
  text-align: center;
}

.arrow-svg {
  width: 30%;
  height: 30%;
  display: block;
  margin: 0 auto;
}

@media (max-width: 769px) {
  .arrow-svg {
    width: 25%;
    height: 25%;
  }

  .withdrawal-text {
    overflow-wrap: break-word;
    line-height: 1.5;
  }
}
